.ipynb_checkpoints
.pytest_cache
.ruff_cache
__pycache__/
*.egg-info
build/
dist/
.launcher.json 
**.pyc 

# Api docs should be built through CI not included in repo
docs/source/api_docs/*

# Temporary notebook files 
*-*ipynb